* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(242, 108, 201);
  background: linear-gradient(
    90deg,
    rgba(242, 108, 201, 1) 0%,
    rgba(255, 179, 135, 1) 50%,
    rgba(242, 252, 116, 1) 100%
  );
  padding-top: 5rem;
  overflow: scroll;
}

h1,
blockquote {
  text-align: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  align-items: center;
  justify-items: center;
  margin: auto;
}

.image-wrapper img {
  position: relative;
  max-width: 20vw;
  padding: 30px;
}

.border-1 {
  background-image: linear-gradient(darkorange, magenta);
}

.border-2 {
  background-image: linear-gradient(45deg, darkblue, tomato);
}

.border-3 {
  background-image: linear-gradient(rgba(255, 0, 0, 0), teal),
    linear-gradient(to right, teal, rgba(255, 0, 0, 0));
  background-repeat: no-repeat;
  background-size: 30px 55%, 55% 30px;
  background-position: left bottom, left bottom, 30px 30px;
  padding-bottom: 30px;
  padding-left: 30px;
}

.border-4 {
  background-image: linear-gradient(rgba(255, 0, 0, 0), slategray),
    linear-gradient(to right, slategray, rgba(255, 0, 0, 0)),
    linear-gradient(slategray, rgba(255, 0, 0, 0)),
    linear-gradient(to left, slategray, rgba(255, 0, 0, 0));
  background-repeat: no-repeat;
  background-size: 30px 85%, 85% 30px, auto 85%, 85% 30px;
  background-position: left bottom, left bottom, 30px 30px, right top, right top,
    30px 30px;
}
